/*TODO need to add changes margins because thos are clced by the ax window size and thattts why input goes out */
input {
  background-color: rgb(16, 16, 20);
  border: none; /* <-- removes input borders */
  border: solid 1px #ccc;
  border-radius: 5px;
  border-color: rgb(105, 105, 105);
  transition-duration: 1s;
  caret-color: rgb(244, 241, 208);
}

/*When hover on highlights*/
input:hover {
  border-color: rgb(244, 241, 208);
}

/*When clicked on highlights*/
input:selection {
  border-color: rgb(244, 241, 208);
}
/*When clicked on highlights*/
input:focus {
  border-color: rgb(244, 241, 208);
  outline: none;
}

/*color of text*/
input,
select,
textarea {
  color: rgb(244, 241, 208);
}

.chatGridContainer {
  grid-template-columns: repeat(auto-fit, auto);
  gap: 7px;
}

#chatHeader {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#chatDescription {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: 3;
}

#nameInputLable {
  margin-top: 5%;
  grid-column-start: 1;
  grid-row-start: 3;
  grid-column-end: 2;
  margin-left: 5%;
}

#nameInput {
  grid-column-start: 1;
  grid-row-start: 4;
  grid-column-end: 3;
  height: calc(5vw - 1.5rem);
  min-height: 40px;
  max-height: 60px;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-bottom: 5%;
}

#selectChatInput {
  color: rgb(244, 241, 208);
  background: rgb(16, 16, 20);
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 3;
  height: calc(5vw - 1.5rem);
  min-height: 40px;
  max-height: 60px;
  margin-left: 5%;
  margin-left: auto;
  margin-right: 5%;
}

#chatPasswordInputLable {
  grid-column-start: 1;
  grid-row-start: 5;
  grid-column-end: 2;
  min-height: 25px;
  max-height: 40px;
  margin-bottom: 2%;
  margin-right: 5%;
  margin-left: 5%;
}

#chatPasswordInputLableConfirm {
  grid-column-start: 2;
  grid-row-start: 5;
  grid-column-end: 3;
  margin-left: 5%;
}

#confirmPasswordInput {
  grid-column-start: 1;
  grid-row-start: 6;
  grid-column-end: 2;
  height: calc(5vw - 1.5rem);
  min-height: 40px;
  max-height: 60px;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}

#passwordInput {
  grid-column-start: 2;
  grid-row-start: 6;
  grid-column-end: 3;
  height: calc(5vw - 1.5rem);
  min-height: 40px;
  max-height: 60px;
  margin-bottom: 2%;
  margin-right: 5%;
  margin-left: 5%;
}
