.sideNavContainer {
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: rgb(49, 48, 49);
}

.sidenav {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.sidenav::-webkit-scrollbar {
  display: none;
}

.dropDownText {
  color: rgb(244, 241, 208);
}

.navItemHiglight {
  color: rgb(244, 241, 208);
  background-color: rgba(140, 140, 145, 0);
  cursor: pointer;
  margin: 1px;
  padding-left: 5px;
  border-radius: 3%;
  overflow: hidden;
}

.navItemHiglight:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(72, 75, 75);
  transition-duration: 0.15s;
}

.navChatOption {
  background-color: rgba(140, 140, 145, 0);
  /* transition-duration: 2s; */
  cursor: pointer;
  margin: 1px;
  padding-left: 5px;
  border-radius: 3%;
  overflow: hidden;
}

.navChatOption:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(72, 75, 75);
  transition-duration: 0.15s;
}

.channelRow {
  display: flex;
  flex-direction: row;
  color: inherit;
}

.addIcon {
  position: absolute;
  left: 60px;
}

.logOutIcon {
  position: absolute;
  left: 60px;
}
