.sideNavContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 15px;
}

.sidenav {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.sidenav::-webkit-scrollbar{
  display: none;
}

.navItemHiglight:hover {
  background-color: rgb(50, 50, 50);
  transition-duration: 0.15s;
  cursor: pointer;
}

.channelRow {
  display: flex;
  flex-direction: row;
  color: inherit;
}

.addIcon {
  position: absolute;
  left: 60px;
}

.logOutIcon {
  position: absolute;
  left: 60px;
}
