.navBarContainer {
  display: flex;
  /* padding: 15px; */
  flex-direction: row;
  justify-content: space-between;
}
.nameProject {
  /* margin-top: 10px; */
}
.logoutButton {
  /* margin-top: 10px; */
}

.projectName {
  color: #e2e2e2;
}

.logOut {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
