.passwordInputContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.passwordInputContainerShadow {
  position: absolute;
	background-color: red;
	width: calc(100% + 20px);
	height: calc(200% + 20px);
	border-radius: 10px;
  background: rgb(100, 100, 100);
}

.passwordInputPromptText {
	font-size: 35px;
}

.passwordInputPrompt {
	font-size: 30px;
}
