/* Popup style */

/*Shadow*/
.popup-box {
  position: fixed;
  background: #00000090;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.box {
  max-width: 50%;
  max-height: 50%;
  position: relative;
  margin: 0 auto;
  margin-top: calc(100vh - 85vh);
  border-radius: 5px;
  padding: 10px;
  border-left: thick solid rgb(255, 165, 0);
}

.close-icon {
}
