@import url("https://fonts.cdnfonts.com/css/studio-sans");

.chatGridContainer {
  /* display: grid;
  font-family: "Studio Sans", sans-serif;
  background-color: rgb(66, 66, 71);
  color: rgb(244, 241, 208);
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 8px;
  padding: 10px;
  border-radius: 5px; */

  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgb(66, 66, 71);
  padding: 10px;
  gap: 4px;
  border-radius: 8px;
  max-width: 400px;
  min-width: 400px;
  padding: 15px;
}

h1 {
  font-weight: bold;
}
