.passwordInputContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.passwordInputContainerShadow {
  position: absolute;
  width: calc(100% + 20px);
  height: calc(200% + 20px);
  border-radius: 10px;
  background-color: rgb(16, 16, 20);
}

.passwordInputPromptText {
  font-size: 20px;
  text-align: center;
  color: #fdfdfd;
}

.passwordInputPrompt {
  font-size: 30px;
}
