@import url("https://fonts.cdnfonts.com/css/studio-sans");

.chatContainer {
  display: flex;
  font-family: "Studio Sans", sans-serif;
  background-color: rgb(16, 16, 20);
  height: 100vh;
}

.Messages {
  flex-direction: column;
}
