.messageContainers {
  flex-direction: column;
  display: flex;
  font-family: "Studio Sans", sans-serif;
  color: rgb(244, 241, 208);
  border-radius: 5px;
  background-color: rgb(31, 33, 40);
	min-width:100%;
}

.message:nth-child(even) {
  align-self: flex-end;
  color: rgb(244, 241, 208);
	text-align: right;
}

.message:nth-child(odd) {
  align-self: flex-start;
  color: rgb(244, 241, 208);
	text-align: left;
}
