.form-signin {
  max-width: 400px;
  padding: 15px;
  text-align: center;
  /* font-family: 'Trebuchet MS', sans-serif; */
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
form {
  background: #00ff99;
  padding: 1.5em;
  border-radius: 1em;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-message {
  margin-top: 1em;
  color: red;
}

.btn {
  background: black;
}

.btn:hover {
  background: #14b173;
  transition: 0.7s;
}
